#include "resource.h"

LANGUAGE 0,0

IDD_DIALOG1 DIALOGEX 0,0,231,366
CAPTION "Dialog"
FONT 8,"Ms Shell Dlg",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER|DS_MODALFRAME|DS_SHELLFONT|DS_3DLOOK
BEGIN
  CONTROL "",IDC_INPUT,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,15,40,120,25,WS_EX_STATICEDGE
  CONTROL "Compute",IDC_BTN,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,140,40,75,25
  CONTROL "VASTU",IDC_LBL,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_CENTER,15,15,171,18,WS_EX_CLIENTEDGE
  CONTROL "",IDC_X,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|ES_AUTOHSCROLL|ES_AUTOVSCROLL|ES_MULTILINE,15,250,96,98,WS_EX_CLIENTEDGE
  CONTROL "",IDC_Y,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,140,249,76,96,WS_EX_CLIENTEDGE
  CONTROL "",IDC_EDT1,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_VSCROLL|WS_HSCROLL|WS_TABSTOP|ES_MULTILINE,15,70,200,175,WS_EX_CLIENTEDGE
END

